{% load static %}

<!-- footer start -->

<footer class="bg-black text-white text-center text-lg-start" style="padding-bottom: 50px;">
    <div class="container p-2">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <div class="d-flex my-3 align-items-center">
                    <img src="/static/img/footer-img.jpg" class="w-25 mx-1" alt="">
                    <h5 class="mt-5">THRIFT FASHION</h5>
                </div>
                <div>
                    <p class="mb-2">A thrift store with convenience and a lot more.</p>
                    <span class="text-myprimary">
                        <i class="ri-facebook-box-fill"></i>
                        <i class="ri-instagram-fill"></i>
                        <i class="ri-twitter-fill"></i>
                    </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 my-5 mx-auto">
                <h5 class="text-uppercase mb-0">Shop Men</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Corporate Wears</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Jeans</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Roundneck</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Tracksuits</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 my-5">
                <h5 class="text-uppercase">Shop Women</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Coporate Wears</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white  text-decoration-none">Jeans Skirt and Jacket</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Rompers</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white  text-decoration-none">Fit and Flare Dresses</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 my-5">
                <h5 class="text-uppercase mb-0">Shop Kids</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Denim</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white  text-decoration-none">Trousers</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Shorts</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white  text-decoration-none">Polos</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- footer ends -->


<!-- product start  and it has a script file under-->


<!-- <section>
    <div>
        <div class="container px-4">
            <div class="row col-11 gx-5 mx-auto">
                <div class="col-6">
                    <div class="border bg-light">
                        <img src="/static/img/product_img/thrift_img_034.jpg" class="w-100" alt="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="p-3">
                        <h2 class="my-3">Male Corporate Trouser</h2>
                        <h4>$2300</h4>
                        <hr class="container mb-5">
                        <span class="py-3">
                            <p>*More Dark Colour And Jeans Cloth</p>
                            <p>*More Straight-Leg And Skinny Pants</p>
                            <hr class="container my-2">
                        </span>
                        <span class="d-flex mt-3">
                            <div class="border w-25 rounded-3" style="border: 1px solid black;">
                                <div class="wrapper bg-light m-auto">
                                    <p class="minus fs-3 equa">-</p>
                                    <h4 class="num mx-3 text-dark ">1</h4>
                                    <p class="plus fs-3 equa">+</p>
                                </div>
                            </div>
                            <a type="button"
                                class="d-flex mx-3 btn-myprimary align-items-center fs-6 rounded-3 btn-sm h-auto text-decoration-none">
                                <i class="ri-shopping-cart-2-fill px-2"></i>
                                <p>Add To Cart</p>
                            </a>
                        </span>
                        <hr class="container my-4">
                        <span>
                            <div class="d-flex">
                                <h6 class="px-3">Categories: </h6>
                                <p>Cotton, Silk.</p>
                            </div>
                            <div class="d-flex">
                                <h6 class="px-3">Tags: </h6>
                                <p>All colours available.</p>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->



<!-- product counter scripts -->
<!-- 
<script>
    const plus = document.querySelector(".plus"),
        minus = document.querySelector(".minus"),
        num = document.querySelector(".num");
    let a = 1;
    plus.addEventListener("click", () => {
        a++;
        a = (a < 10) ? a : a;
        num.innerText = a;
    });

    minus.addEventListener("click", () => {
        if (a > 1) {
            a--;
            a = (a < 10) ? a : a;
            num.innerText = a;
        }
    });

</script> -->

<!-- product counter scripts ends -->

<!-- successalert -->

<!-- <section>
    <div class="border d-flex w-fit justify-content-center">
        <div class="input-group">
            <div class="input-group-text bg-success" id="btnGroupAddon">
                <i class="ri-checkbox-circle-line text-white px-2 text-xl"></i>
            </div>
            <span style="height: 50px; background-color: white;" class="m-2 d-grid align-content-center">                
                <h6 class="text-success p-0 m-0">SUCCESS</h6>
                <small>Your product was purchased successfully!</small>
            </span>
        </div>
    </div>
    </div>
</section> -->

<!-- uccessalert ends -->


<!-- filter start -->
<!-- <div>
    <div class="slider">
        <div class="range-slider">
            <span class="rangeValues"></span>
            <input value="1000" min="1000" max="50000" step="500" type="range">
            <input value="50000" min="1000" max="50000" step="500" type="range">
        </div>
    </div>

    <style>
        .slider {
            padding: 30px;
            border-radius: 3px;
            top: 50%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgb(255, 255, 255);
        }

        .range-slider {
            width: 300px;
            text-align: center;
            position: relative;
            padding-bottom: 20px;
        }

        .range-slider .rangeValues {
            display: block;
            box-shadow: 0 0 20px rgba(0, 139, 253, 0.25);
            padding: 20px;
            font-size: 22px;
            margin-bottom: 35px;
        }

        input[type=range] {
            -webkit-appearance: none;
            border: 1px solid white;
            width: 300px;
            position: absolute;
            left: 0;
        }

        input[type=range]::-webkit-slider-runnable-track {
            width: 300px;
            height: 5px;
            background: #ddd;
            border: none;
            border-radius: 3px;
        }

        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: none;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            background: #0273a0;
            cursor: pointer;
            position: relative;
            z-index: 1;
        }

        input[type=range]:focus {
            outline: none;
        }

        input[type=range]:focus::-webkit-slider-runnable-track {
            background: #ccc;
        }
    </style>
</div>



<script>
    function getVals() {
        // Get slider values
        let parent = this.parentNode;
        let slides = parent.getElementsByTagName("input");
        let slide1 = parseFloat(slides[0].value);
        let slide2 = parseFloat(slides[1].value);
        // Neither slider will clip the other, so make sure we determine which is larger
        if (slide1 > slide2) { let tmp = slide2; slide2 = slide1; slide1 = tmp; }


        let displayElement = parent.getElementsByClassName("rangeValues")[0];

        //innerHTML property allows Javascript code to manipulate a website being displayed
        displayElement.innerHTML = "$" + slide1 + " - $" + slide2;
    }

    window.onload = function () {
        // Initialize Sliders
        let sliderSections = document.getElementsByClassName("range-slider");
        for (let x = 0; x < sliderSections.length; x++) {
            let sliders = sliderSections[x].getElementsByTagName("input");
            for (let y = 0; y < sliders.length; y++) {
                if (sliders[y].type === "range") {
                    //oninput attribute fires when the value of an <input> element is changed
                    sliders[y].oninput = getVals;
                    // Manually trigger event first time to display values
                    sliders[y].oninput();
                }
            }
        }
    }
</script> -->


<div class="container px-4">
    <div class="row gx-5">
        <div class="col-4">
            <div class="p-3 border bg-light">
                <h5>Filter by Brand</h5>
                <span>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label px-1" for="defaultCheck1">
                            Jeans
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label px-1" for="defaultCheck1">
                            Dresses
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label px-1" for="defaultCheck1">
                            Sweaters
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label px-1" for="defaultCheck1">
                            Casual Wears
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label px-1" for="defaultCheck1">
                            Corporate Wears
                        </label>
                    </div>
                </span>
            </div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">Custom column padding</div>
        </div>
    </div>
</div>

<br><br><br><br><br><br><br>

