{% load static %}

<!-- footer start -->

<footer class="bg-black text-white text-center text-lg-start" style="padding-bottom: 50px;">
    <div class="container p-2">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <div class="d-flex my-3 align-items-center">
                    <img src="{% static 'img/footer-img.jpg' %}" class="w-25 mx-1" alt="">
                    <h5 class="mt-5">THRIFT FASHION</h5>
                </div>
                <div>
                    <p class="mb-2">A thrift store with convenience and a lot more.</p>
                    <span class="text-myprimary">
                        <i class="ri-facebook-box-fill"></i>
                        <i class="ri-instagram-fill"></i>
                        <i class="ri-twitter-fill"></i>
                    </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 my-5 mx-auto">
                <h5 class="text-uppercase mb-0">Shop Men</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Corporate Wears</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Jeans</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Roundneck</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Tracksuits</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 my-5">
                <h5 class="text-uppercase">Shop Women</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Coporate Wears</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white  text-decoration-none">Jeans Skirt and Jacket</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Rompers</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white  text-decoration-none">Fit and Flare Dresses</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 my-5">
                <h5 class="text-uppercase mb-0">Shop Kids</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Denim</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white  text-decoration-none">Trousers</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white text-decoration-none">Shorts</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white  text-decoration-none">Polos</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
