{% load static %}

<!-- product start -->



<!-- footer start -->

<footer>
    <div class="bg-black text-white" style="margin-top: 40px;">
        <div class="p-3">
            <div class="row container gx-3">
                <div class="col-4">
                    <div class="">
                        <div class="d-flex my-5 align-items-center">
                            <img src="/static/img/footer-img.jpg" class="w-25 mx-2" alt="">
                            <h5 class="mt-5">THRIFT FASHION</h5>
                        </div>
                        <span>
                            <p class="mb-3">A thrift store with convenience and a lot more.</p>
                            <span class="text-myprimary px-3">
                                <i class="ri-facebook-box-fill"></i>
                                <i class="ri-instagram-fill px-1"></i>
                                <i class="ri-twitter-fill"></i>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="">
                        <h5 class="my-4">Shop Men</h5>
                        <p>Formal</p>
                        <p>Casual</p>
                        <p>Summer</p>
                        <p>Winter</p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="">
                        <h5 class="my-4">Shop Women</h5>
                        <p>Winter</p>
                        <p>Summer</p>
                        <p>Formal</p>
                        <p>Casual</p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="">
                        <h5 class="my-4">Baby Collection</h5>
                        <p>Casual</p>
                        <p>Formal</p>
                        <p>Winter</p>
                        <p>Summer</p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="my-4">
                        <h5 class="mb-3">Quick Links</h5>
                        <p>Track Your Order</p>
                        <p>Support</p>
                        <p>FAQ</p>
                        <p>Carrier</p>
                        <p>About</p>
                        <p>Contact Us</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>



<!-- product start  and it has a script file under-->

<section>
    <div>
        <div class="container px-4">
            <div class="row col-11 gx-5 mx-auto">
                <div class="col-6">
                    <div class="border bg-light">
                        <img src="/static/img/product_img/thrift_img_034.jpg" class="w-100" alt="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="p-3">
                        <h2 class="my-3">Male Corporate Trouser</h2>
                        <h4>$2300</h4>
                        <hr class="container mb-5">
                        <span class="py-3">
                            <p>*More Dark Colour And Jeans Cloth</p>
                            <p>*More Straight-Leg And Skinny Pants</p>
                            <hr class="container my-2">
                        </span>
                        <span class="d-flex mt-3">
                            <div class="border w-25 rounded-3" style="border: 1px solid black;">
                                <div class="wrapper bg-light m-auto">
                                    <p class="minus fs-3 equa">-</p>
                                    <h4 class="num mx-3 text-dark ">1</h4>
                                    <p class="plus fs-3 equa">+</p>
                                </div>
                            </div>
                            <a type="button"
                                class="d-flex mx-3 btn-myprimary align-items-center fs-6 rounded-3 btn-sm h-auto text-decoration-none">
                                <i class="ri-shopping-cart-2-fill px-2"></i>
                                <p>Add To Cart</p>
                            </a>
                        </span>
                        <hr class="container my-4">
                        <span>
                            <div class="d-flex">
                                <h6 class="px-3">Categories: </h6>
                                <p>Cotton, Silk.</p>
                            </div>
                            <div class="d-flex">
                                <h6 class="px-3">Tags: </h6>
                                <p>All colours available.</p>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- product counter scripts -->

<script>
    const plus = document.querySelector(".plus"),
        minus = document.querySelector(".minus"),
        num = document.querySelector(".num");
    let a = 1;
    plus.addEventListener("click", () => {
        a++;
        a = (a < 10) ? a : a;
        num.innerText = a;
    });

    minus.addEventListener("click", () => {
        if (a > 1) {
            a--;
            a = (a < 10) ? a : a;
            num.innerText = a;
        }
    });

</script>

<br><br><br><br><br><br><br>