{% load static %}
{% load cart_template_tags %}
{% url 'home' as home %}
{% url 'about' as about %}
{% url 'products' as products %}
{% url 'contact' as contact %}
{% url 'cart:cart' as cart %}
{% url 'accounts:login' as login %}
{% url 'accounts:register' as register %}
{% url 'accounts:user_settings' as settings %}

{% if request.user.is_authenticated %}
<nav
   class="navbar navbar-expand-lg navbar-light container rounded-xl fixed-top {% if request.path == register or request.path == settings %} sticky-top top-0 {% endif %} mt-3 my-shadow py-0">
   <div class="container-fluid">
      <a class="navbar-brand font-jost d-flex align-items-center" href="{% url 'home' %}">
         <img src="{% static 'img/logo.png' %}" class="img-fluid me-2" style="width: 50px;" alt="">
         <span class="font-semibold text-xl">Thrift Fashion</span>
      </a>
      <button class="navbar-toggler btn m-0 p-2 pb-1 nav-btn rounded-lg border-0" type="button"
         data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
         aria-expanded="false" aria-label="Toggle navigation">
         <i class="ri-menu-3-fill text-2xl "></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <form action="{% url 'search_products' %}" method="POST" class="mx-auto w-50 d-none d-md-inline">
            {% csrf_token %}
            <div class="input-group border rounded-2">
               <input type="text" name="search" class="form-control text-sm border-0 font-normal" type="text"
                  placeholder="Search Products">
               <span class="input-group-text bg-white border-0">
                  <button class="text-decoration-none border-0 bg-white" style="outline: none;">
                     <i class="ri-search-eye-line text-lg text-myprimary"></i>
                  </button>
               </span>
            </div>
         </form>
         <ul class="navbar-nav mb-2 mb-lg-0 align-items-center">
            <li class="nav-item">
               <a class="nav-link {% if request.path == home %} active {% endif %}" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if request.path == about %} active {% endif %}" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if request.path == products %} active {% endif %}"
                  href="{% url 'products' %}">Products</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if request.path == contact %} active {% endif %}"
                  href="{% url 'contact' %}">Contact</a>
            </li>
            <li class="nav-item">
               <a class="nav-link btn icon {% if request.path == cart %} active {% endif %} " href="{% url 'cart:cart' %}">
                  <!-- items_in_cart -->
                  <i class="ri-shopping-cart-2-fill text-lg"></i>
                  <span class="position-absolute top-0 mt-2  translate-middle-x badge rounded-pill bg-danger">
                     {{ request.user|items_in_cart }}
                     <span class="visually-hidden">unread messages</span>
                  </span>
               </a>
            </li>
         </ul>
         <div class="d-flex">
            <li class="nav-item dropdown m-0 list-unstyled w-fit mx-auto">
               <button class=" btn text-white " href="" id="navbarDarkDropdownMenuLink" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <img
                     src="{% if request.user.profile_image %} {{request.user.profile_image.url}} {% else %} {% static 'img/default_profile.png' %} {% endif %}"
                     alt="User Avatar" class="img-fluid rounded-full nav-avatar"
                     style="width: 40px;height: 40px;object-fit: cover;">
               </button>
               <ul class="dropdown-menu nav-dropdown  dropdown-menu-start dropdown-menu-lg-end mt-2"
                  aria-labelledby="navbarDarkDropdownMenuLink">
                  <li>
                     <a href="{% url 'accounts:user_settings' %}"
                        class="dropdown-item font-medium d-flex align-items-center m-0 p-0 px-3 {% if request.path == settings %} text-primary {% endif %}">
                        <i class="ri-settings-3-fill text-xl"></i>&nbsp;
                        Settings
                     </a>
                  </li>
                  <li>
                     <hr class="dropdown-divider">
                  </li>
                  <li class="p-0">
                     <a href="{% url 'accounts:logout' %}"
                        class="dropdown-item px-3 py-0  font-medium d-flex align-items-center" style="color: red;">
                        <i class="ri-login-circle-fill text-xl"></i>
                        &nbsp;
                        Logout
                     </a>
                  </li>
               </ul>
            </li>
         </div>
      </div>
   </div>
</nav>


{% else %}

<nav
   class="navbar navbar-expand-lg navbar-light  container rounded-xl fixed-top {% if request.path == register %} sticky-top top-0 {% endif %} mt-3 my-shadow py-0">
   <div class="container-fluid">
      <a class="navbar-brand font-jost d-flex align-items-center" href="{% url 'home' %}">
         <img src="{% static 'img/logo.png' %}" class="img-fluid me-2" style="width: 50px;" alt="">
         <span class="font-semibold text-xl">Thrift Fashion</span>
      </a>
      <button class="navbar-toggler btn m-0 p-2 pb-1 nav-btn rounded-lg border-0" type="button"
         data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
         aria-expanded="false" aria-label="Toggle navigation">
         <i class="ri-menu-3-fill text-2xl "></i>
      </button>
      <div class="collapse navbar-collapse pb-2 pb-md-0" id="navbarSupportedContent">
         <form action="{% url 'search_products' %}" method="POST" class="mx-auto w-50 d-none d-md-inline">
            {% csrf_token %}
            <div class="input-group border rounded-2">
               <input type="text" name="search" class="form-control text-sm border-0 font-normal" type="text"
                  placeholder="Search Products">
               <span class="input-group-text bg-white border-0">
                  <button class="text-decoration-none border-0 bg-white" style="outline: none;">
                     <i class="ri-search-eye-line text-lg text-myprimary"></i>
                  </button>
               </span>
            </div>
         </form>
         <ul class="navbar-nav  mb-2 mb-lg-0">
            <li class="nav-item">
               <a class="nav-link text-md {% if request.path == home %} active {% endif %}"
                  href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link text-md {% if request.path == about %} active {% endif %}"
                  href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
               <a class="nav-link text-md {% if request.path == products %} active {% endif %}"
                  href="{% url 'products' %}">Products</a>
            </li>
            <li class="nav-item">
               <a class="nav-link text-md {% if request.path == contact %} active {% endif %} "
                  href="{% url 'contact' %}">Contact</a>
            </li>
         </ul>
         <div class="d-flex ms-md-3">
            {% if request.user.is_authenticated %}
            <a class="nav-link icon {% if request.path == cart %} active {% endif %} " href="{% url 'cart:cart' %}">
               <i class="ri-shopping-cart-2-fill text-xl"></i>
            </a>
            {% else %}
            <a class="nav-link icon {% if request.path == cart %} active {% endif %} "
               href="{% url 'accounts:login' %}">
               <i class="ri-shopping-cart-2-fill text-xl"></i>
            </a>
            {% endif %}
            <a class="nav-link icon {% if request.path == login or request.path == register %} active {% endif %} "
               href="{% url 'accounts:login' %}">
               <i class="ri-user-3-fill text-xl ms-1"></i>
            </a>
         </div>
      </div>
   </div>
</nav>

{% endif %}