.category-card {
  height: 300px;
  display: grid;
  place-content: end;
}

.category-card.male {
  background-image: linear-gradient(
      62deg,
      rgba(0, 0, 0, 0.7) 20%,
      rgba(0, 0, 0, 0.7) 80%
    ),
    url(../../../static/img/product_img/vintage.jpg);
}

.category-card.female {
  background-image: linear-gradient(
      62deg,
      rgba(0, 0, 0, 0.7) 20%,
      rgba(0, 0, 0, 0.7) 80%
    ),
    url(../../../static/img/product_img/kiddiesthrift_5.jpg);
}

.category-card.kids {
  background-image: linear-gradient(
      62deg,
      rgba(0, 0, 0, 0.7) 20%,
      rgba(0, 0, 0, 0.7) 80%
    ),
    url(../../../static/img/product_img/thrift_img_04335.jpg);
}

.product-card-image {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 350px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.product-card-image:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.icons {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.filter-link {
  color: #000;
  font-weight: 500;
  cursor: pointer;
}

.mixitup-control-active {
  color: #0099ff;
}

.mixitup-control-active[data-filter]:after {
  background: transparent;
}

.product-name{
  color: black;
}

.product-name:hover{
  color: #0099ff;
}