<!-- The html page this page is extending -->
{% extends 'base.html' %}
{% load static %}
<!-- The css styles used in the page -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock stylesheets %}
<!-- The title of the page -->
{% block title %}Home || Thrift Fashion {% endblock title %}
<!-- The content of the page -->
{% block main %}
<div class="text-white" id="intro-bg">
   <h1>About</h1>
</div>

<div class="our-story">
   <div class="container" style="margin-top: 150px;">
      <div class="row mt-5 gx-5">
         <div class="col-sm-12 col-md-6">
            <img src="/static/img/intro-bg.jpg" alt="" class="img-fluid">
         </div>
         <div class="col-sm-12 col-md-6 d-grid align-content-center">
            <div class="">
               <h2 class=" text-center">Our Story</h2>
               <p class="text-center">
                  Here at ThriftFashion, we pride ourselves on providing the best quality thrift clothes to our
                  customers.
                  We have been in the business for over 10 years and have been able to build a strong customer base. We
                  have a wide range of clothes, ranging from vintage shirts to
                  excellent quality sundresses. With our distinguished track record you should always expect:
               </p>
               <p>

               </p>
            </div>
         </div>
      </div>

      <div class="row flex-row-reverse gx-5" style="margin-top: 120px;">
         <div class="col-sm-12 col-md-6  ">
            <img src="/static/img/intro-bg.jpg" alt="" class="img-fluid">


         </div>
         <div class="col-sm-12 col-md-6 d-grid align-content-center">
            <div class="">
               <h2 class=" text-center">Our Mission</h2>
               <p class="text-center">
                  Here at ThriftFashion, we pride ourselves on providing the best quality thrift clothes to our
                  customers.
                  We have been in the business for over 10 years and have been able to build a strong customer base. We
                  have a wide range of clothes, ranging from vintage shirts to
                  excellent quality sundresses. With our distinguished track record you should always expect:
               </p>
               <p>

               </p>
            </div>
         </div>
      </div>
   </div>

</div>

<div class="partners">
   <div class="container">
      <div class="row mt-5 text-center">
         <h1>Team</h2>
            <div class="row gy-4">
               <div class="col-sm-12 col-md-4" >
                 <div class="card">
                   <div class="card-body">
                     <h5 class="card-title">Akinoso Isreal</h5>
                     <p class="card-text">General Manager</p>
                     <a href="#"><i class="ri-facebook-circle-fill"></i></a>
                     <a href="#"><i class="ri-twitter-fill"></i></a>
                     <a href="#"><i class="ri-github-fill"></i></a>                    
                   </div>
                 </div>
               </div>
               <div class="col-sm-12 col-md-4" >
                 <div class="card">
                   <div class="card-body">
                     <h5 class="card-title">Ekisola Babatunji</h5>
                     <p class="card-text">Assistant Manager</p>
                     <a href="#"><i class="ri-facebook-circle-fill"></i></a>
                     <a href="#"><i class="ri-twitter-fill"></i></a>
                     <a href="#"><i class="ri-github-fill"></i></a>    
                   </div>
                 </div>
               </div>
               <div class="col-sm-12 col-md-4" >
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Ishola Ameenat</h5>
                      <p class="card-text">Creative Director</p>
                      <a href="#"><i class="ri-facebook-circle-fill"></i></a>
                     <a href="#"><i class="ri-twitter-fill"></i></a>
                     <a href="#"><i class="ri-github-fill"></i></a>    
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4" >
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Eyinade Stella</h5>
                      <p class="card-text">Creative Director</p>
                      <a href="#"><i class="ri-facebook-circle-fill"></i></a>
                     <a href="#"><i class="ri-twitter-fill"></i></a>
                     <a href="#"><i class="ri-github-fill"></i></a>     
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4" >
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Sijibomi Emmanuel</h5>
                      <p class="card-text">Human Resources</p>
                      <a href="#"><i class="ri-facebook-circle-fill"></i></a>
                     <a href="#"><i class="ri-twitter-fill"></i></a>
                     <a href="#"><i class="ri-github-fill"></i></a>     
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4" >
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">John Doe</h5>
                      <p class="card-text">Intern</p>
                      <a href="#"><i class="ri-facebook-circle-fill"></i></a>
                     <a href="#"><i class="ri-twitter-fill"></i></a>
                     <a href="#"><i class="ri-github-fill"></i></a>     
                    </div>
                  </div>
                </div>
             </div>

      </div>
   </div>
</div>
{% endblock main %}