<!-- The html page this page is extending -->
{% extends 'base.html' %}
{% load static %}
<!-- The css styles used in the page -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}" />
{% endblock stylesheets %}
<!-- The title of the page -->
{% block title %}Contact || Thrift Fashion {% endblock title %}
<!-- The content of the page -->
{% block main %}


<div class="text-white" id="intro-bg">
    <h1>Contact Page</h1>
</div>

<div class="mt-3">
    {% include 'partials/messages.html' %}
</div>

<!-- Contact Details -->

<div class="container" style="margin-top: 130px;">
    <div class="row row-cols-2 justify-content-center row-cols-lg-4 g-2 g-lg-3">

        <div class="col">
            <div class="p-3 ">
                <div class="bg-myprimary mx-auto d-grid align-content-center justify-content-center rounded-circle mb-3"
                    style="width: 50px;height: 50px;">
                    <i class="ri-map-pin-fill fs-3"></i>
                </div>
                <h6 class="text-gray-500 font-normal text-md text-center " style="line-height: 25px;"><span
                        class="font-medium text-black">Address: </span>198 West 21th Street, Suite 721 New York NY 10016
                </h6>
            </div>
        </div>

        <div class="col">
            <div class="p-3 ">
                <div class="bg-myprimary mx-auto d-grid align-content-center justify-content-center rounded-circle mb-3"
                    style="width: 50px;height: 50px;">
                    <i class="ri-phone-fill fs-3"></i>
                </div>
                <h6 class="text-myprimary text-md font-normal text-center " style="line-height: 25px;"><span
                        class="font-medium text-black">Phone: </span>+ 1235 2355 98</h6>
            </div>
        </div>

        <div class="col">
            <div class="p-3 ">
                <div class="bg-myprimary mx-auto d-grid align-content-center justify-content-center rounded-circle mb-3"
                    style="width: 50px;height: 50px;">
                    <i class="ri-telegram-line fs-3"></i>
                </div>
                <h6 class="text-myprimary text-md font-normal text-center " style="line-height: 25px;"><span
                        class="font-medium text-black">Email: </span><a href="#"
                        class="text-decoration-none contact-link">info@yoursite.com</a></h6>
            </div>
        </div>

        <div class="col">
            <div class="p-3 ">
                <div class="bg-myprimary mx-auto d-grid align-content-center justify-content-center rounded-circle mb-3"
                    style="width: 50px;height: 50px;">
                    <i class="ri-earth-fill fs-3"></i>
                </div>
                <h6 class="text-myprimary text-md font-normal text-center " style="line-height: 25px;"><span
                        class="font-medium text-black">Website: </span><a href="#"
                        class="text-decoration-none contact-link">thriftfashion.com</a></h6>
            </div>
        </div>

    </div>
</div>

<!-- Contact Form -->

<section class="d-flex col-12 col-md-11 mx-auto" style="margin-top: 50px;">
    <div class="container text-start">
        <div class="p-4">
            <h3 class="font-normal text-start">Message Us</h3>
        </div>
        <div class="row gx-5 mx-auto">
            <!-- form -->

            <div class=" col-md-7 col-12 p-md-4">
                <form class="" action="{% url 'contact' %}" method="POST">
                    {% csrf_token %}
                    <div class="row row-cols-1 row-cols-md-2 g-2 g-lg-3 mb-2">
                        <div class="col">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control border rounded-0 text-sm" id="username"
                                    placeholder="" name="firstname" required>
                                <label for="username" class="font-medium">Firstname:</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control border rounded-0 text-sm" id="username"
                                    placeholder="" name="lastname" required>
                                <label for="username" class="font-medium">Lastname:</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-floating mb-4">
                        <input type="email" class="form-control border rounded-0 text-sm" id="username" placeholder=""
                           name="email" required>
                        <label for="username" class="font-medium">Email address:</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="text" class="form-control border rounded-0 text-sm" id="username" placeholder=""
                          name="subject"  required>
                        <label for="username" class="font-medium">Subject:</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control border rounded-0 text-sm" placeholder="" style="height: 120px;"
                           name="message" id="message"></textarea>
                        <label for="message">Message</label>
                    </div>

                    <button class="btn btn-myprimary btn-sm" style="margin-top: 30px;" type="submit">Submit</button>

                </form>
                <!-- form ends -->
            </div>
            <!-- form img -->

            <div class="col-md-5 d-none d-md-inline rounded-2" id="form-bg"></div>
        </div>
    </div>
</section>

<!-- contact map -->

<section style="margin-top: 100px;" class="d-grid align-content-center">


    <iframe class="col-10 mx-auto" height="500" id="gmap_canvas"
        src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed"
        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</section>

<!-- footer -->

<br><br><br><br><br><br>






{% endblock main %}