<!-- The html page this page is extending -->
{% extends 'base.html' %}
{% load static %}
<!-- The css styles used in the page -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
  integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
  integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock stylesheets %}
<!-- The title of the page -->
{% block title %}Home || Thrift Fashion {% endblock title %}
<!-- The content of the page -->
{% block main %}
<div class="hero" id="hero">

  <div class="container">
    <div class="row  hero-style  flex-row-reverse">
      <div class="col-sm-12 col-md-6 her-carousel d-none d-md-block">
        <div class="pic-ctn mx-auto">
          <img src="https://picsum.photos/200/300?t=1" alt="" class="pic">
          <img src="https://picsum.photos/200/300?t=2" alt="" class="pic">
          <img src="https://picsum.photos/200/300?t=3" alt="" class="pic">
          <img src="https://picsum.photos/200/300?t=4" alt="" class="pic">
          <img src="https://picsum.photos/200/300?t=5" alt="" class="pic">
        </div>

      </div>
      <div class="col-sm-12 col-md-6 hero-text text-sm-center">
        <h1>Old Clothes<br>New Style</h1>
        <p>The home of high quality and elegant thrift clothes</p>
      </div>

    </div>
  </div>
</div>

<div class="mt-3">
  {% include 'partials/messages.html' %}
</div>

<div class="feature" style="margin-top: 120px;">
  <div class="container">
    <div class="row mt-5">
      <h1 class="text-center">Features</h1>
      <p class="text-center">What to expect from the best online thrift store.</p>
      <div class="container px-4">
        <div class="row gx-2 text-center">
          <div class="col-sm-12 col-md-4">
            <div class="p-3 ">
              <div class="card-body my-shadow rounded">
                <div class="blob">
                  <h5 class="text-center ">
                    <i class="ri-t-shirt-air-fill"></i>
                  </h5>
                </div>
                <h4 class="card-title mb-2 ">Top Quality</h4>
                <p class="card-text text-md">Some quick example text to build on the card title and make up the bulk of
                  the card's content.</p>

              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="p-3 ">
              <div class="card-body my-shadow rounded">
                <div class="blob text-center">
                  <h5 class="f-icon text-center">
                    <i class="ri-customer-service-2-fill"></i>
                  </h5>
                </div>
                <h4 class="card-title mb-2 ">Excellent Service</h4>
                <p class="card-text text-md">Some quick example text to build on the card title and make up the bulk of
                  the card's content.</p>

              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="p-3 ">
              <div class="card-body my-shadow rounded">
                <div class="blob">
                  <h5 class=" text-center">
                    <i class="ri-truck-fill" style="width:40px; height:40px;"></i>
                  </h5>
                </div>
                <h4 class="card-title mb-2 ">Fast Delivery</h4>
                <p class="card-text text-md">Some quick example text to build on the card title and make up the bulk of
                  the card's content.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="arrivals" style="margin-top: 120px;">
  <div class="container">
    <div class="row mt-5">
      <h1 class="text-center">Latest Arrivals</h1>
      <div class="owl-carousel owl-theme owl-loaded pt-5">
        <div class="owl-stage-outer">
          <div class="owl-stage">

            {% for product in latest_products %}
                          
            <div class="owl-item">
              <div class="product-card">
                <div class="product-card-image">
                  <img
                    src="{{product.product_image_1.url}}"
                    alt="Product Image" class="image border">
                  <div class="overlay">
                    {% if request.user.is_authenticated %}
                    <div class="icons ">
                      <a href="" class="text-decoration-none">
                        <i class="ri-shopping-cart-2-fill bg-dark p-2 rounded-circle text-white mx-2"></i>
                      </a>
                      <a href="" class="text-decoration-none">
                        <i class="ri-heart-fill bg-dark p-2 rounded-circle text-white mx-2"></i>
                      </a>
                    </div>
                    {% else %}
                    <div class="icons ">
                      <a href="{% url 'accounts:login' %}" class="text-decoration-none">
                        <i class="ri-shopping-cart-2-fill bg-dark p-2 rounded-circle text-white mx-2"></i>
                      </a>
                      <a href="{% url 'accounts:login' %}" class="text-decoration-none">
                        <i class="ri-heart-fill bg-dark p-2 rounded-circle text-white mx-2"></i>
                      </a>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="p-3 text-center mt-2">
                  <h6 class="font-medium">{{product.product_name |truncatewords:5}}</h6>
                  <span class="d-flex justify-content-center">
                    <p class="mx-2">${{product.price}}</p>
                    {% if product.discount_price %}
                    <p class="mx-2 text-decoration-line-through font-medium text-mysecondary">${{product.discount_price}}</p>
                    {% endif %}
                  </span>
                </div>
              </div>
            </div>      

            {% endfor %}
          </div>
        </div>
        <div class="owl-nav d-flex justify-content-center mt-4">
          <div class="owl-prev"><i class="ri-arrow-left-s-line"></i></div>
          <div class="owl-next"><i class="ri-arrow-right-s-line"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>


</div>
<div class="categories" style="margin-top: 120px;">
  <div class=" padded">
    <div class="container">
      <h1 class="text-center">Categories</h1>
      <div class="row mt-5 justify-content-between">
        <div class="col-md-4 col-sm-12">
          <div class="card"
            style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/static/img/thrift-img/tthrift_img_19.jpg');">
            <div class="card-category">
              <h3>Men's Clothing</h3>
            </div>
            <div class="card-description">
              <button class="cssbuttons-io">
                <span>
                  <a href="" class="text-decoration-none text-white">
                    See More
                  </a>
                </span>
              </button>
            </div>
            <a class="card-link" href="{% url 'product_male' %}"></a>
          </div>
        </div>

        <div class="col-md-4 col-sm-12">
          <div class="card"
            style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/static/img/thrift-img/thrift_img_976.jpg');">
            <div class="card-category">
              <h3>Women's Clothing</h3>
            </div>
            <div class="card-description">
              <button class="cssbuttons-io">
                <span> See More</span>
              </button>
            </div>
            <a class="card-link" href="product_female"></a>
          </div>
        </div>

        <div class="col-md-4 col-sm-12">
          <div class="card"
            style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/static/img/thrift-img/tthrift_img_19.jpg');">
            <div class="card-category">
              <h3>Kid's Clothing</h3>
            </div>
            <div class="card-description">

              <button class="cssbuttons-io">
                <span> See More</span>
              </button>

            </div>
            <a class="card-link" href="{% url 'product_kids' %}"></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<script>
  var owl = $('.owl-carousel')
  owl.owlCarousel({
    loop: false,
    autoplay: true,
    margin: 15,
    nav: false,
    navClass: [$(".owl-prev"), $(".owl-next")],
    responsive: {
      0: {
        items: 1
      },
      600: {
        items: 3
      },
      1000: {
        items: 4
      }
    }
  })

  $('.owl-next').click(function () {
    owl.trigger('next.owl.carousel');
  })
  // Go to the previous item
  $('.owl-prev').click(function () {
    // With optional speed parameter
    // Parameters has to be in square bracket '[]'
    owl.trigger('prev.owl.carousel', [300]);
  })
</script>
{% endblock main %}