<!-- The html page this page is extending -->
{% extends 'base.html' %}
{% load static %}
<!-- The css styles used in the page -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/products.css' %}" />
{% endblock stylesheets %}
<!-- The title of the page -->
{% block title %}Products || Thrift Fashion {% endblock title %}
<!-- The content of the page -->
{% block main %}
<div class="text-white" id="intro-bg">
   <h1>Products</h1>
</div>
<nav>
   <div class="container">
       <div class="row product_row_2">
           <div class="col-md-8 col-12">
              <h5 class="trending">Collections</h5>
           </div>
        </div>
        <hr>
   </div>
</nav>
<main>
   <div class="container">
      <div class="row product_row_1">
         <div class="col-md-4 col-12">
            <div class="col row_1_img">
               <div class="col flexproperty">
                  <h3 class="text-white mb-5">Male Outfits</h3>
               </div>
            </div>
         </div>
         <div class="col-md-4 col-12">
            <div class="col row_2_img">
               <div class="col flexproperty">
                  <h3 class="text-white mb-5">Female Outfits</h3>
               </div>
            </div>
         </div>
         <div class="col-md-4 col-12">
            <div class="col row_3_img">
               <div class="col flexproperty">
                  <h3 class="text-white mb-5">Kiddies Outfits</h3>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>
<nav>
   <div class="container">
      <div class="row product_row_2">
         <div class="col-md-8 col-12">
            <h1 class="trending">Trending this Week</h1>
         </div>
      </div>
      <hr>
   </div>
</nav>
<aside>
   <div class="container">
      <div class="row gx-3">
         <div class="col-md-3 col-12" style="height: fit-content;">
            <div class="col row_2_img_1 all_img_cart" onmouseover="visiblecart()" onmouseleave="disappearance()">
               <div class="cart">
                   <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
                   <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
               </div>
            </div>
            <div class="col text-center">
               <h6 class="mt-3">Vintage Shirt</h6>
               <p>$80.00 <span class="line_over">$300</span></p>
            </div>
         </div>
         <div class="col-md-3 col-12" style="height: fit-content;">
            <div class="col row_2_img_2 all_img_cart" onmouseover="visiblecart2()" onmouseleave="disappearance2()">
               <div class="cart">
                   <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
                   <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
               </div>
            </div>
            <div class="col text-center">
               <h6 class="mt-3">Round Neck Shirt</h6>
               <p>$80.00 <span class="line_over">$300</span></p>
            </div>
         </div>
         <div class="col-md-3 col-12" style="height: fit-content;">
            <div class="col row_2_img_3 all_img_cart" onmouseover="visiblecart3()" onmouseleave="disappearance3()">
               <div class="cart">
                   <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
                   <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
               </div>
            </div>
            <div class="col text-center">
               <h6 class="mt-3">Wrap Gown</h6>
               <p>$80.00 <span class="line_over">$300</span></p>
            </div>
         </div>
         <div class="col-md-3 col-12" style="height: fit-content;">
            <div class="col text-center">
               <div class="col row_2_img_4 all_img_cart" onmouseover="visiblecart4()" onmouseleave="disappearance4()">
                   <div class="cart">
                       <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
                       <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
                   </div>
               </div>
               <div class="col">
                  <h6 class="mt-3">Baggy Pants</h6>
                  <p>$80.00 <span class="line_over">$300</span></p>
               </div>
            </div>
         </div>
      </div>
   </div>
</aside>
<section>
   <div class="container">
        <hr>
   </div>
</section>
<nav>
   <div class="container">
       <div class="row row3_imgdisplay">
           <div class="col-md-4 col-12 ps-auto">
               <a href="#men_section" class="text-decoration-none hovereffect h6 ms-4">Men</a>
               <a href="#female_section" class="text-decoration-none hovereffect h6 ms-4">Women</a>
               <a href="#kiddies_section" class="text-decoration-none hovereffect h6 ms-4">Kids</a>
               <a href="#" class="text-decoration-none hovereffect h6 ms-4">Fashion</a>
            </div>
       </div>
   </div>
</nav>
<!-- male -->
<section>
   <div class="container" id="men_section">
       <!-- row1 -->
       <div class="row gx-3">
           <div class="col-md-4 col-12">
               <div class="col men_1 all_img_cart" onmouseover="visiblecart5()" onmouseleave="disappearance5()">
                   <div class="cart">
                       <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
                       <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
                   </div>
               </div>
               <div class="col text-center">
                   <h6 class="mt-3">Shorts</h6>
                   <p>$80 <span class="line_over">$300</span></p>
               </div>
           </div>
           <div class="col-md-4 col-12">
               <div class="col men_2 all_img_cart" onmouseover="visiblecart6()" onmouseleave="disappearance6()">
                   <div class="cart">
                       <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
                       <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
                   </div>
               </div>
               <div class="col text-center">
                   <h6 class="mt-3">Hoodie</h6>
                   <p>$80 <span class="line_over">$300</span></p>
               </div>
           </div>
           <div class="col-md-4 col-12">
               <div class="col men_3 all_img_cart" onmouseover="visiblecart7()" onmouseleave="disappearance7()">
                   <div class="cart">
                       <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
                       <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
                   </div>
               </div>
               <div class="col text-center">
                   <h6 class="mt-3">Plain Shirt</h6>
                   <p>$80 <span class="line_over">$300</span></p>
               </div>
           </div>
       </div>
       <!-- row2 -->
       <div class="row gx-3 mt-5">
           <div class="col-md-4 col-12">
               <div class="col men_4 all_img_cart" onmouseover="visiblecart8()" onmouseleave="disappearance8()">
                   <div class="cart">
                       <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
                       <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
                   </div>
               </div>
               <div class="col text-center">
                   <h6 class="mt-3">Striped Shirt</h6>
                   <p>$80 <span class="line_over">$300</span></p>
               </div>
           </div>
           <div class="col-md-4 col-12">
               <div class="col men_5 all_img_cart" onmouseover="visiblecart9()" onmouseleave="disappearance9()">
                   <div class="cart">
                       <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
                       <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
                   </div>
               </div>
               <div class="col text-center">
                   <h6 class="mt-3">Round-neck Shirt</h6>
                   <p>$80 <span class="line_over">$300</span></p>
               </div>
           </div>
           <div class="col-md-4 col-12">
               <div class="col men_6 all_img_cart" onmouseover="visiblecart10()" onmouseleave="disappearance10()">
                   <div class="cart">
                       <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
                       <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
                   </div>
               </div>
               <div class="col text-center">
                   <h6 class="mt-3">Joggers</h6>
                   <p>$80 <span class="line_over">$300</span></p>
               </div>
           </div>
       </div>
       <!-- row3 -->
       <div class="row gx-3 highermarg mt-5">
           <div class="col-md-4 col-12">
               <div class="col men_7 all_img_cart" onmouseover="visiblecart11()" onmouseleave="disappearance11()">
                   <div class="cart">
                       <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
                       <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
                   </div>
               </div>
               <div class="col text-center">
                   <h6 class="mt-3">T-Shirt</h6>
                   <p>$80 <span class="line_over">$300</span></p>
               </div>
           </div>
           <div class="col-md-4 col-12">
               <div class="col men_8 all_img_cart" onmouseover="visiblecart12()" onmouseleave="disappearance12()">
                   <div class="cart">
                       <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
                       <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
                   </div>
               </div>
               <div class="col text-center">
                   <h6 class="mt-3">Sweat Jacket</h6>
                   <p>$80 <span class="line_over">$300</span></p>
               </div>
           </div>
           <div class="col-md-4 col-12">
               <div class="col men_9 all_img_cart" onmouseover="visiblecart13()" onmouseleave="disappearance13()">
                   <div class="cart">
                       <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
                       <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
                   </div>
               </div>
               <div class="col text-center">
                   <h6 class="mt-3">Ripped Jeans</h6>
                   <p>$80 <span class="line_over">$300</span></p>
               </div>
           </div>
       </div>
   </div>
</section>
<!-- female -->
<section>
        <div class="container">
           <hr>
        </div>
</section>
<section>
   <div class="container" id="female_section">
       <!-- row1 -->
       <div class="row gx-3">
           <div class="col-md-4 col-12">
               <div class="col female_1 all_img_cart" onmouseover="visiblecart14()" onmouseleave="disappearance14()">
                   <div class="cart">
                       <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
                       <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
                   </div>
               </div>
               <div class="col text-center">
                   <h6 class="mt-3">Pyjamas</h6>
                   <p>$80 <span class="line_over">$300</span></p>
               </div>
           </div>
           <div class="col-md-4 col-12">
               <div class="col female_2 all_img_cart" onmouseover="visiblecart15()" onmouseleave="disappearance15()">
                   <div class="cart">
                       <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
                       <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
                   </div>
               </div>
               <div class="col text-center">
                   <h6 class="mt-3">Mini Gown</h6>
                   <p>$80 <span class="line_over">$300</span></p>
               </div>
           </div>
           <div class="col-md-4 col-12">
               <div class="col female_3 all_img_cart" onmouseover="visiblecart16()" onmouseleave="disappearance16()">
                   <div class="cart">
                       <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
                       <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
                   </div>
               </div>
               <div class="col text-center">
                   <h6 class="mt-3">Mini Gown</h6>
                   <p>$80 <span class="line_over">$300</span></p>
               </div>
           </div>
       </div>
       <!-- row2 -->
       <div class="row gx-3 mt-5">
           <div class="col-md-4 col-12">
               <div class="col female_4 all_img_cart" onmouseover="visiblecart17()" onmouseleave="disappearance17()">
                   <div class="cart">
                       <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
                       <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
                   </div>
               </div>
               <div class="col text-center">
                   <h6 class="mt-3">Coperate White Shirt</h6>
                   <p>$80 <span class="line_over">$300</span></p>
               </div>
           </div>
           <div class="col-md-4 col-12">
               <div class="col female_5 all_img_cart" onmouseover="visiblecart18()" onmouseleave="disappearance18()">
                   <div class="cart">
                       <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
                       <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
                   </div>
               </div>
               <div class="col text-center">
                   <h6 class="mt-3">Patterned Joggers</h6>
                   <p>$80 <span class="line_over">$300</span></p>
               </div>
           </div>
           <div class="col-md-4 col-12">
               <div class="col female_6 all_img_cart" onmouseover="visiblecart19()" onmouseleave="disappearance19()">
                   <div class="cart">
                       <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
                       <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
                   </div>
               </div>
               <div class="col text-center">
                   <h6 class="mt-3">Crop Top</h6>
                   <p>$80 <span class="line_over">$300</span></p>
               </div>
           </div>
       </div>
       <!-- row3 -->
       <div class="row gx-3 highermarg mt-5">
           <div class="col-md-4 col-12">
               <div class="col female_7 all_img_cart" onmouseover="visiblecart20()" onmouseleave="disappearance20()">
                   <div class="cart">
                       <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
                       <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
                   </div>
               </div>
               <div class="col text-center">
                   <h6 class="mt-3">Feminine Joggers</h6>
                   <p>$80 <span class="line_over">$300</span></p>
               </div>
           </div>
           <div class="col-md-4 col-12">
               <div class="col female_8 all_img_cart" onmouseover="visiblecart21()" onmouseleave="disappearance21()">
                   <div class="cart">
                       <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
                       <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
                   </div>
               </div>
               <div class="col text-center">
                   <h6 class="mt-3">Sleeveless Top</h6>
                   <p>$80 <span class="line_over">$300</span></p>
               </div>
           </div>
           <div class="col-md-4 col-12">
               <div class="col female_9 all_img_cart" onmouseover="visiblecart22()" onmouseleave="disappearance22()">
                   <div class="cart">
                   <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
                   <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
               </div></div>
               <div class="col text-center">
                   <h6 class="mt-3">Long Sleeve Top</h6>
                   <p>$80 <span class="line_over">$300</span></p>
               </div>
           </div>
       </div>
   </div>
</section>
<!-- kiddies -->
<section>
   <div class="container">
      <hr>
   </div>
</section>
<section>
<div class="container" id="kiddies_section">
  <!-- row1 -->
  <div class="row gx-3">
      <div class="col-md-4 col-12">
          <div class="col kiddies_1 all_img_cart" onmouseover="visiblecart23()" onmouseleave="disappearance23()">
           <div class="cart">
               <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
               <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
           </div>
          </div>
          <div class="col text-center">
           <h6 class="mt-3">Pyjamas</h6>
           <p>$80 <span class="line_over">$300</span></p>
       </div>
      </div>
      <div class="col-md-4 col-12">
          <div class="col kiddies_2 all_img_cart" onmouseover="visiblecart24()" onmouseleave="disappearance24()">
           <div class="cart">
               <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
               <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
           </div>
          </div>
          <div class="col text-center">
           <h6 class="mt-3">Complete Set</h6>
           <p>$80 <span class="line_over">$300</span></p>
       </div>
      </div>
      <div class="col-md-4 col-12">
          <div class="col kiddies_3 all_img_cart" onmouseover="visiblecart25()" onmouseleave="disappearance25()">
           <div class="cart">
               <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
               <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
           </div>
          </div>
          <div class="col text-center">
           <h6 class="mt-3">Complete Set</h6>
           <p>$80 <span class="line_over">$300</span></p>
       </div>
      </div>
  </div>
  <!-- row2 -->
  <div class="row gx-3 mt-5">
      <div class="col-md-4 col-12">
          <div class="col kiddies_4 all_img_cart" onmouseover="visiblecart26()" onmouseleave="disappearance26()">
           <div class="cart">
               <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
               <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
           </div>
          </div>
          <div class="col text-center">
           <h6 class="mt-3">Complete Set</h6>
           <p>$80 <span class="line_over">$300</span></p>
       </div>
      </div>
      <div class="col-md-4 col-12">
          <div class="col kiddies_5 all_img_cart" onmouseover="visiblecart27()" onmouseleave="disappearance27()">
           <div class="cart">
               <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
               <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
           </div>
          </div>
          <div class="col text-center">
           <h6 class="mt-3">Complete Set</h6>
           <p>$80 <span class="line_over">$300</span></p>
       </div>
      </div>
      <div class="col-md-4 col-12">
          <div class="col kiddies_6 all_img_cart" onmouseover="visiblecart28()" onmouseleave="disappearance28()">
           <div class="cart">
               <a href="#" class="text-decoration-none anchor un"><i class="ri-shopping-cart-line carty fs-2 pe-3"></i></a>
               <a href="" class="text-decoration-none anchor"><i class="ri-heart-line fs-2 carty"></i></a>
           </div>
          </div>
          <div class="col text-center">
           <h6 class="mt-3">Top</h6>
           <p>$80 <span class="line_over">$300</span></p>
       </div>
      </div>
  </div>
</div>
</section>
<section>
<div class="container">
  <hr class="myhr">
</div>
</section>
<!-- texts -->
<nav>
<div class="container">
   <div class="row gx-5 size_6_margin">
       <div class="col-md-6 col-12">
           <div class="col size_6_img"></div>
       </div>
       <div class="col-md-6 col-12 flexneeded">
           <div class="col">
               <h2 class="text-center mb-3 whyThrift">Why Thrift Fashion?</h2>
               <p>Buying thrift clothing is a sustainable fashion choice.  By shopping thrift clothing as an alternative to buying new clothing, we reduce the demand for new items and the environmental impact they create. By keeping thrift clothing items in circulation we power the circular fashion economy, whilst lowering the number of fashion items sent to landfill.</p>
           </div>
       </div>
   </div>
</div>
</nav>
<aside>
<div class="container perks">
   <div class="row shadow">
       <div class="col-md-3 col-12 pad">
           <div class="col margin_end">
               <p class="text-center"><i class="ri-truck-line fs-1"></i></p>
               <div class="col lower_card">
                   <h5>Fast & Free Delivery</h5>
                   <small>Free delivery on all orders</small>
               </div>
           </div>
       </div>
       <div class="col-md-3 col-12 pad">
           <div class="col margin_end">
               <p class="text-center"><i class="ri-bank-card-fill fs-1"></i></p>
               <div class="col lower_card">
                   <h5>Secure Payment</h5>
                   <small>Free delivery on all orders</small>
               </div>
           </div>
       </div>
       <div class="col-md-3 col-12 pad">
           <div class="col margin_end">
               <p class="text-center"><i class="ri-refund-line fs-1"></i></p>
               <div class="col lower_card">
                   <h5>Money Back Guarantee</h5>
                   <small>Free delivery on all orders</small>
               </div>
           </div>
       </div>
       <div class="col-md-3 col-12 pad">
           <div class="col">
               <p class="text-center"><i class="ri-24-hours-line fs-1"></i></p>
               <div class="col lower_card">
                   <h5>Online Support</h5>
                   <small>Free delivery on all orders</small>
               </div>
           </div>
       </div>
   </div>
</div>
</aside>
<footer class="footer">
<div class="container">
   <div class="row">
       <div class="col-md-3 col-12">
           <div class="col">
               <h3 class="thrifty">Thrift Fashion</h3>
           </div>
       </div>
       <div class="col-md-3 col-12 text-white">
           <div class="col">
               <h5 class="footer_heading">Quick Links</h5>
           </div>
           <div class="col">
               <a href="#" class="text-decoration-none d-block linkk">Home</a>
               <a href="#" class="text-decoration-none d-block linkk">About</a>
               <a href="#" class="text-decoration-none d-block linkk">Contact</a>
               <a href="#" class="text-decoration-none d-block linkk">Product Details</a>
           </div>
       </div>
       <div class="col-md-3 col-12 text-white">
           <div class="col">
               <h5 class="footer_heading">Product Categories</h5>
           </div>
           <div class="col">
               <a href="#men_section" class="text-decoration-none d-block linkk">Men</a>
               <a href="#female_section" class="text-decoration-none d-block linkk">Women</a>
               <a href="#kiddies_section" class="text-decoration-none d-block linkk">Kids</a>
           </div>
       </div>
       <div class="col-md-3 col-12 text-white">
           <div class="col">
               <h5 class="footer_heading">Support</h5>
           </div>
           <div class="col">
               <a href="#" class="text-decoration-none d-block linkk">Privacy policy</a>
               <a href="#" class="text-decoration-none d-block linkk">Frequently asked questions</a>
               <a href="#" class="text-decoration-none d-block linkk">Terms & Condition</a>
               <a href="#" class="text-decoration-none d-block linkk">Report Payment Issue</a>
           </div>
       </div>
   </div>
</div>
</footer>
<script>
var cart = document.getElementsByClassName('cart')
var anchor = document.getElementsByClassName('anchor')
function visiblecart(){
    cart[0].style.backgroundColor = 'white'
    anchor[0].style.color = 'black'
    anchor[1].style.color = 'black'
}
function disappearance(){
    cart[0].style.backgroundColor = 'transparent'
    anchor[0].style.color = 'transparent'
    anchor[1].style.color = 'transparent'
}
function visiblecart2(){
    cart[1].style.backgroundColor = 'white'
    anchor[2].style.color = 'black'
    anchor[3].style.color = 'black'
}
function disappearance2(){
    cart[1].style.backgroundColor = 'transparent'
    anchor[2].style.color = 'transparent'
    anchor[3].style.color = 'transparent'
}
function visiblecart3(){
    cart[2].style.backgroundColor = 'white'
    anchor[4].style.color = 'black'
    anchor[5].style.color = 'black'
}
function disappearance3(){
    cart[2].style.backgroundColor = 'transparent'
    anchor[4].style.color = 'transparent'
    anchor[5].style.color = 'transparent'
}
function visiblecart4(){
    cart[3].style.backgroundColor = 'white'
    anchor[6].style.color = 'black'
    anchor[7].style.color = 'black'
}
function disappearance4(){
    cart[3].style.backgroundColor = 'transparent'
    anchor[6].style.color = 'transparent'
    anchor[7].style.color = 'transparent'
}
function visiblecart5(){
    cart[4].style.backgroundColor = 'white'
    anchor[8].style.color = 'black'
    anchor[9].style.color = 'black'
}
function disappearance5(){
    cart[4].style.backgroundColor = 'transparent'
    anchor[8].style.color = 'transparent'
    anchor[9].style.color = 'transparent'
}
function visiblecart6(){
    cart[5].style.backgroundColor = 'white'
    anchor[10].style.color = 'black'
    anchor[11].style.color = 'black'
}
function disappearance6(){
    cart[5].style.backgroundColor = 'transparent'
    anchor[10].style.color = 'transparent'
    anchor[11].style.color = 'transparent'
}
function visiblecart7(){
    cart[6].style.backgroundColor = 'white'
    anchor[12].style.color = 'black'
    anchor[13].style.color = 'black'
}
function disappearance7(){
    cart[6].style.backgroundColor = 'transparent'
    anchor[12].style.color = 'transparent'
    anchor[13].style.color = 'transparent'
}
function visiblecart8(){
    cart[7].style.backgroundColor = 'white'
    anchor[14].style.color = 'black'
    anchor[15].style.color = 'black'
}
function disappearance8(){
    cart[7].style.backgroundColor = 'transparent'
    anchor[14].style.color = 'transparent'
    anchor[15].style.color = 'transparent'
}
function visiblecart9(){
    cart[8].style.backgroundColor = 'white'
    anchor[16].style.color = 'black'
    anchor[17].style.color = 'black'
}
function disappearance9(){
    cart[8].style.backgroundColor = 'transparent'
    anchor[16].style.color = 'transparent'
    anchor[17].style.color = 'transparent'
}
function visiblecart10(){
    cart[9].style.backgroundColor = 'white'
    anchor[18].style.color = 'black'
    anchor[19].style.color = 'black'
}
function disappearance10(){
    cart[9].style.backgroundColor = 'transparent'
    anchor[18].style.color = 'transparent'
    anchor[19].style.color = 'transparent'
}
function visiblecart11(){
    cart[10].style.backgroundColor = 'white'
    anchor[20].style.color = 'black'
    anchor[21].style.color = 'black'
}
function disappearance11(){
    cart[10].style.backgroundColor = 'transparent'
    anchor[20].style.color = 'transparent'
    anchor[21].style.color = 'transparent'
}
function visiblecart12(){
    cart[11].style.backgroundColor = 'white'
    anchor[22].style.color = 'black'
    anchor[23].style.color = 'black'
}
function disappearance12(){
    cart[11].style.backgroundColor = 'transparent'
    anchor[22].style.color = 'transparent'
    anchor[23].style.color = 'transparent'
}
function visiblecart13(){
    cart[12].style.backgroundColor = 'white'
    anchor[24].style.color = 'black'
    anchor[25].style.color = 'black'
}
function disappearance13(){
    cart[12].style.backgroundColor = 'transparent'
    anchor[24].style.color = 'transparent'
    anchor[25].style.color = 'transparent'
}
function visiblecar14(){
    cart[13].style.backgroundColor = 'white'
    anchor[26].style.color = 'black'
    anchor[27].style.color = 'black'
}
function disappearance14(){
    cart[13].style.backgroundColor = 'transparent'
    anchor[26].style.color = 'transparent'
    anchor[27].style.color = 'transparent'
}
function visiblecart15(){
    cart[14].style.backgroundColor = 'white'
    anchor[28].style.color = 'black'
    anchor[29].style.color = 'black'
}
function disappearance15(){
    cart[14].style.backgroundColor = 'transparent'
    anchor[28].style.color = 'transparent'
    anchor[29].style.color = 'transparent'
}
function visiblecart16(){
    cart[15].style.backgroundColor = 'white'
    anchor[30].style.color = 'black'
    anchor[31].style.color = 'black'
}
function disappearance16(){
    cart[15].style.backgroundColor = 'transparent'
    anchor[30].style.color = 'transparent'
    anchor[31].style.color = 'transparent'
}
function visiblecart17(){
    cart[16].style.backgroundColor = 'white'
    anchor[32].style.color = 'black'
    anchor[33].style.color = 'black'
}
function disappearance17(){
    cart[16].style.backgroundColor = 'transparent'
    anchor[32].style.color = 'transparent'
    anchor[33].style.color = 'transparent'
}
function visiblecart18(){
    cart[17].style.backgroundColor = 'white'
    anchor[34].style.color = 'black'
    anchor[35].style.color = 'black'
}
function disappearance18(){
    cart[17].style.backgroundColor = 'transparent'
    anchor[34].style.color = 'transparent'
    anchor[35].style.color = 'transparent'
}
function visiblecart19(){
    cart[18].style.backgroundColor = 'white'
    anchor[36].style.color = 'black'
    anchor[37].style.color = 'black'
}
function disappearance19(){
    cart[18].style.backgroundColor = 'transparent'
    anchor[36].style.color = 'transparent'
    anchor[37].style.color = 'transparent'
}
function visiblecart20(){
    cart[19].style.backgroundColor = 'white'
    anchor[38].style.color = 'black'
    anchor[39].style.color = 'black'
}
function disappearance20(){
    cart[19].style.backgroundColor = 'transparent'
    anchor[38].style.color = 'transparent'
    anchor[39].style.color = 'transparent'
}
function visiblecart21(){
    cart[20].style.backgroundColor = 'white'
    anchor[40].style.color = 'black'
    anchor[41].style.color = 'black'
}
function disappearance21(){
    cart[20].style.backgroundColor = 'transparent'
    anchor[40].style.color = 'transparent'
    anchor[41].style.color = 'transparent'
}
function visiblecart22(){
    cart[21].style.backgroundColor = 'white'
    anchor[42].style.color = 'black'
    anchor[43].style.color = 'black'
}
function disappearance22(){
    cart[21].style.backgroundColor = 'transparent'
    anchor[42].style.color = 'transparent'
    anchor[43].style.color = 'transparent'
}
function visiblecart23(){
    cart[22].style.backgroundColor = 'white'
    anchor[44].style.color = 'black'
    anchor[45].style.color = 'black'
}
function disappearance23(){
    cart[22].style.backgroundColor = 'transparent'
    anchor[44].style.color = 'transparent'
    anchor[45].style.color = 'transparent'
}
function visiblecart24(){
    cart[23].style.backgroundColor = 'white'
    anchor[46].style.color = 'black'
    anchor[47].style.color = 'black'
}
function disappearance24(){
    cart[23].style.backgroundColor = 'transparent'
    anchor[46].style.color = 'transparent'
    anchor[47].style.color = 'transparent'
}
function visiblecart25(){
    cart[24].style.backgroundColor = 'white'
    anchor[48].style.color = 'black'
    anchor[49].style.color = 'black'
}
function disappearance25(){
    cart[24].style.backgroundColor = 'transparent'
    anchor[48].style.color = 'transparent'
    anchor[49].style.color = 'transparent'
}
function visiblecart26(){
    cart[25].style.backgroundColor = 'white'
    anchor[50].style.color = 'black'
    anchor[51].style.color = 'black'
}
function disappearance26(){
    cart[25].style.backgroundColor = 'transparent'
    anchor[50].style.color = 'transparent'
    anchor[51].style.color = 'transparent'
}
function visiblecart27(){
    cart[26].style.backgroundColor = 'white'
    anchor[52].style.color = 'black'
    anchor[53].style.color = 'black'
}
function disappearance27(){
    cart[26].style.backgroundColor = 'transparent'
    anchor[52].style.color = 'transparent'
    anchor[53].style.color = 'transparent'
}
function visiblecart28(){
    cart[27].style.backgroundColor = 'white'
    anchor[54].style.color = 'black'
    anchor[55].style.color = 'black'
}
function disappearance28(){
    cart[27].style.backgroundColor = 'transparent'
    anchor[54].style.color = 'transparent'
    anchor[55].style.color = 'transparent'
}
</script>
<a href="{% url 'product_detail' %}">Product Detail</a>
{% endblock main %}