<!-- The html page this page is extending -->
{% extends 'base.html' %}
{% load static %}
<!-- The css styles used in the page -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/products.css' %}" />
{% endblock stylesheets %}
<!-- The title of the page -->
{% block title %}Product Details || Thrift Fashion {% endblock title %}
<!-- The content of the page -->
{% block main %}
<div class="text-white" id="intro-bg">
   <h1>Product Details</h1>
</div>
<nav>
   <div class="col-12 ">
       <div class="col faint_color text-center">
           <h4>Description</h4>
       </div>
   </div>
</nav>
<aside>
   <div class="container">
       <div class="row missy">
           <div class="col-12 d-flex align-items-center">
               <div class="col missie">
                   <p class="puffy text-center">These are the right outfits for the summer!

                   Perfect for the beach or the city, you'll dazzle in these stunning outfits that shows off your sense of style, sophistication, and flair for fun. You'll always look and feel your absolute best in this summer thrift outfits which will soon become your summer favorite outfit.
                   These outfits are not only made available at a cheap and budget-friendly prices, but also to keep you cool and comfortable.
                   
                   These colors delivers a sparkling dazzle to your walk and add to the overall elegance and practicality of the outfits. These collections are easy to roll-up when you need to free your arms or when it gets a bit too hot in the daytime.</p>
                   <p class="paragraph_2">If you've been thinking of treating yourself to a new summer wardrobe, you don't want to pass on these beautiful and pocket-friendly items. There's no better way to express to yourself self-love than with a new outfit that will stand out and turn heads.

                       These outfits were carefully selected to flaunt your physique all the while, keeping you cool as a cucumber this summer season and exudes a flirtatious, boho-chic look that is designed to take you from desk to dinner. Unpretentious enough for around the town, but avant-garde enough you won't dare be ignored!
                       
                       Elbow-length sleeves have been trending steadily for some time now, and these collection includes cute elbow length sleeves as well as long sleeves and sleeveless outfits to enhance your elegance.
                       
                       The available gown length as seen is low enough to be modest but just as high enough to give your legs a longer look and to give you slimmer demeanor.
                       
                       Give yourself the look and confidence you deserve and get this exquisite summer thrift outfits today!</p>
               </div>
           </div>
       </div>
   </div>
</aside>
<footer>
   <div class="container">
       <div class="row">
           <div class="col-md-6 col-12">
               <div class="col last_img" style="height: 300px;"></div>
           </div>
           <div class="col-md-6 col-12 d-flex align-items-center">
               <div class="col authentication">
                   <h4 class="text-center">Thrift Fashion</h4>
                   <p>All our website thrift items were carefully hand selected for their quality and style. We only select the best items, removing all torn or marked items from the system; any errors at all will be photographed and detailed in the description. We sell only authentic thrift pieces and no fakes ever.</p>
               </div>
           </div>
       </div>
   </div>
</footer>


{% endblock main %}