<!-- The html page this page is extending -->
{% extends 'base.html' %}
{% load static %}
<!-- The css styles used in the page -->
{% block stylesheets %}

<link rel="stylesheet" href="{% static 'css/products.css' %}" />
{% endblock stylesheets %}
<!-- The title of the page -->
{% block title %}Women Clothing || Thrift Fashion {% endblock title %}
<!-- The content of the page -->
{% block main %}


<div class="text-white" id="intro-bg">
   <h1>Women Clothing</h1>
</div>

<div class="mt-3">
   {% include 'partials/messages.html' %}
</div>


<br><br><br>

<div class="container p-0 mt-4">

   {% if women_products %}
   <div class="row row-cols-2 row-cols-lg-4 g-4 mix-it">

      {% for product in women_products %}

      <div class="product-card mix {{product.category.slug}}" data-published-date="{{product.date_posted}}"
         data-price="{{product.price}}">
         <div class="product-card-image ">
            <img src="{{product.product_image_1.url}}" alt="Product Image" class="image border ">
            <div class="overlay">
               {% if request.user.is_authenticated %}
               <div class="icons ">
                  <a href="" class="text-decoration-none">
                     <i class="ri-shopping-cart-2-fill bg-dark p-2 rounded-circle text-white mx-2"></i>
                  </a>
                  <a href="" class="text-decoration-none">
                     <i class="ri-heart-fill bg-dark p-2 rounded-circle text-white mx-2"></i>
                  </a>
               </div>
               {% else %}
               <div class="icons ">
                  <a href="{% url 'accounts:login' %}" class="text-decoration-none">
                     <i class="ri-shopping-cart-2-fill bg-dark p-2 rounded-circle text-white mx-2"></i>
                  </a>
                  <a href="{% url 'accounts:login' %}" class="text-decoration-none">
                     <i class="ri-heart-fill bg-dark p-2 rounded-circle text-white mx-2"></i>
                  </a>
               </div>
               {% endif %}
            </div>
         </div>
         <div class="p-3 text-center mt-2">
            <h6 class="font-medium">
               <a href="{% url 'product_detail' product.slug %}"
                  class="product-name text-decoration-none">{{product.product_name |truncatewords:5}}</a>
            </h6>
            <span class="d-flex justify-content-center">
               <p class="mx-2">${{product.price}}</p>
               {% if product.discount_price %}
               <p class="mx-2 text-decoration-line-through font-medium text-mysecondary">${{product.discount_price}}</p>
               {% endif %}
            </span>
         </div>
      </div>

      {% endfor %}

   </div>
   {% else %}
   <div class="col-10 mx-auto text-center bg-white px-5 p-4 rounded-md my-shadow">
      <i class="ri-error-warning-fill text-3xl text-danger"></i>
      <h5 class="mt-3">No Products</h5>
   </div>
   {% endif %}
</div>


<br><br><br><br><br>

{% endblock main %}
{% block scripts %}
<script>
   var containerEl = document.querySelector('.mix-it');

   var mixer = mixitup(containerEl, {
      animation: {
         effects: 'fade scale stagger(50ms)' // Set a 'stagger' effect for the loading animation
      },
      load: {
         filter: 'none',
         sort: 'published-date:desc' // Ensure all targets start from hidden (i.e. display: none;)
      }
   });

   containerEl.classList.add('mixitup-ready');

   // Show all targets in the container

   mixer.show()
      .then(function () {
         // Remove the stagger effect for any subsequent operations

         mixer.configure({
            animation: {
               effects: 'fade scale'
            }
         });
      });
</script>
{% endblock scripts %}