<!-- The html page this page is extending -->
{% extends 'base.html' %}
{% load static %}
<!-- The css styles used in the page -->
{% block stylesheets %}
<style>

</style>

<!-- <link rel="stylesheet" href="{% static 'css/contact.css' %}" /> -->
{% endblock stylesheets %}
<!-- The title of the page -->
{% block title %}Search Products || Thrift Fashion {% endblock title %}
<!-- The content of the page -->
{% block main %}


<div class="text-white" id="intro-bg" style="height: 65vh;">
   <h1>Search Products</h1>
</div>


<div class="container p-0" style="margin-top: 120px;">
   <h2 class="text-center mb-5">Categories</h2>
   <div class="row row-cols-1 row-cols-md-3 g-3">
      <div class="col">
         <div class=" p-3 text-white bg-dark rounded-3 category-card male">
            <a href="" class="btn btn-success font-medium " type="button">Male</a>
         </div>
      </div>
      <div class="col">
         <div class=" p-3 text-white bg-dark rounded-3 category-card female">
            <a href="" class="btn btn-warning font-medium" type="button">Female</a>
         </div>
      </div>
      <div class="col">
         <div class=" p-3 text-white bg-dark rounded-3 category-card kids">
            <a href="" class="btn btn-light font-medium" type="button">Kids</a>
         </div>
      </div>
   </div>
</div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock main %}