<!-- The html page this page is extending -->
{% extends 'base.html' %}
{% load static %}
<!-- The css styles used in the page -->
{% block stylesheets %}
<style>

</style>

<!-- <link rel="stylesheet" href="{% static 'css/contact.css' %}" /> -->
{% endblock stylesheets %}
<!-- The title of the page -->
{% block title %}Search Products || Thrift Fashion {% endblock title %}
<!-- The content of the page -->
{% block main %}


<div class="text-white" id="intro-bg" style="height: 65vh;">
   <h1>Search Products</h1>
</div>



<div class="mt-5" style="margin-top: 120px;">
   <div class="container px-4 text-start mb-5">
      <div class="row gx-4">
         <div class="col-4">
            <div class="p-3 border bg-light">
               <h5>PRODUCT CATEGORIES</h5>
               <ul class="list-group list-group-flush bg-light">
                  <li class="bg-light list-group-item d-flex align-items-center">
                     <i class="ri-record-circle-fill text-xs me-2"></i>
                     <span>
                        Male
                     </span>
                  </li>
                  <li class="bg-light list-group-item d-flex align-items-center">
                     <i class="ri-record-circle-fill text-xs me-2"></i>
                     <span>
                        Female
                     </span>
                  </li>
                  <li class="bg-light list-group-item d-flex align-items-center">
                     <i class="ri-record-circle-fill text-xs me-2"></i>
                     <span>
                        Kids
                     </span>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col">
            <div class="p-2 border bg-light">
               <div class="dropdown ">
                  <a class="border text-decoration-none text-black d-flex w-fit btn-sm" href="#" role="button"
                     id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                     <span>Products</span>
                     <div class="d-flex ms-2">
                        <i class="ri-arrow-down-s-line"></i>
                     </div>
                  </a>

                  <ul class="dropdown-menu mt-2" aria-labelledby="dropdownMenuLink">
                     <li><a class="dropdown-item" href="#">Summer Wears</a></li>
                     <li><a class="dropdown-item" href="#">Jeans</a></li>
                     <li><a class="dropdown-item" href="#">Dresses</a></li>
                     <li><a class="dropdown-item" href="#">Shirt</a></li>
                     <li><a class="dropdown-item" href="#">Sweaters</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock main %}